@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import url('https://fonts.googleapis.com/css2?family=Russo+One:ital,wght@0,400&display=swap');


/* @custom-variant dark (&:is(.dark *)); */

@theme {
    --color-primary: #f5f5f5;
    --color-fourth: #ff8f0e;
    --color-fourthSecond: #FFAE50;
    
    --color-secondary: #2B2B2B;
    --font-russo: 'Russo One', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
    html,
    body,
    #root {
        font-family: font-montserrat;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: font-montserrat;
        letter-spacing: -0.03em;
    }

    body {

      @apply antialiased bg-primary font-montserrat;
    }
}
